<ng-template #Loading>
  <div class="d-flex justify-content-center mt-5">
    <div class="spinner-border text-light" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</ng-template>

<div
  class="card position-absolute top-50 start-50 translate-middle border border-dark rounded-3"
>
  <div class="card-body">
    <h2 class="text-center">
      Confirm Borrowing of This {{ instrument.instrument_type | titlecase }}
    </h2>
    <div>
      <table class="table table-borderless" *ngIf="instrument; else Loading">
        <tbody>
          <tr>
            <td class="input-group">
              <span class="input-group-text">Brand</span>
              <input
                readonly
                type="text"
                class="form-control"
                [value]="instrument.brand | titlecase"
              />
            </td>
          </tr>
          <tr>
            <td class="input-group">
              <span class="input-group-text">Model</span>
              <input
                readonly
                type="text"
                class="form-control"
                [value]="instrument.model | uppercase"
              />
            </td>
          </tr>
          <tr>
            <td class="input-group">
              <span class="input-group-text">Serial No.</span>
              <input
                readonly
                type="text"
                class="form-control"
                [value]="instrument.serial_number | lowercase"
              />
            </td>
          </tr>
          <tr>
            <td class="input-group">
              <span class="input-group-text">From</span>
              <input
                readonly
                type="text"
                class="form-control"
                [value]="instrument.store_name | titlecase"
              />
            </td>
          </tr>
          <tr>
            <td class="input-group">
              <span class="input-group-text">Remarks</span>
              <textarea
                name="remarks"
                class="form-control"
                [value]="instrument.remarks"
              ></textarea>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <button
          type="button"
          class="btn btn-success col-auto me-auto ms-5 py-2"
          (click)="borrow()"
        >
          <h4 class="my-auto"><i class="bi bi-check-circle"></i> Borrow</h4>
        </button>
        <button
          type="button"
          class="btn btn-danger col-auto ms-auto me-5 py-2"
          [routerLink]="['/']"
        >
          <h4 class="my-auto"><i class="bi bi-x-octagon"></i> Cancel</h4>
        </button>
      </div>
    </div>
  </div>
</div>
