<div class="container">
  <div class="mt-5 text-center">
    <div class="card-body">
      <h4 class="text-light">About</h4>
      <p class="text-light">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit
        orci vitae nisi convallis, nec placerat lorem euismod. Pellentesque
        ligula velit, ultrices tincidunt commodo vitae, dictum eu magna. Integer
        ornare dictum augue, mattis tincidunt urna blandit at. Praesent
        vulputate dolor ipsum, quis rutrum sem elementum ut. Fusce mattis
        finibus accumsan. Donec varius feugiat justo quis blandit. Etiam
        faucibus tincidunt eros. Morbi eget massa vel leo hendrerit eleifend.
        Sed iaculis, turpis quis placerat faucibus, orci augue hendrerit metus,
        nec rhoncus sapien ex vitae elit.
      </p>
    </div>
  </div>
</div>
