<ng-template #Loading>
  <div class="d-flex justify-content-center">
    <div class="spinner-border text-light" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</ng-template>

<ng-template #addManager let-modal class="modal-dialog-centered">
  <!-- Add Manager POPUP -->
  <div class="modal-header">
    <h4 class="modal-title" id="modal-add-manager">Add New Manager</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <!-- Close the popup -->
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="addManagerForm">
      <div class="mb-3">
        <label for="managerEmailID">Send an invite to an email address</label>
        <div class="input-group">
          <input
            id="managerEmailID"
            class="form-control"
            name="managerEmail"
            type="email"
            placeholder="fred@gmail.com"
            formControlName="managerEmail"
          />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="addManagerForm.invalid"
      (click)="modal.close('Save click')"
    >
      Send Invite
    </button>
  </div>
</ng-template>

<div class="m-0 p-0" *ngIf="instrumentList; else Loading">
  <div class="row my-3">
    <button
      type="button"
      class="btn btn-outline-light col-auto m-1"
      (click)="openPopupAddInstrument()"
    >
      <span class="my-1"><i class="bi bi-plus-circle"></i> Instrument</span>
    </button>
    <button
      type="button"
      class="btn btn-outline-light col-auto m-1"
      (click)="openPopupAddManager(addManager)"
    >
      <span class="my-1"><i class="bi bi-person-plus-fill"></i> Manager</span>
    </button>
    <button
      type="button"
      class="btn btn-outline-light col-auto m-1 ms-auto"
      (click)="openPopupStoreLogs()"
    >
      <span class="my-1"><i class="bi bi-file-text"></i> Logs</span>
    </button>
    <button
      type="button"
      class="btn btn-light col-auto m-1"
      (click)="openStoreSettings()"
    >
      <span class="my-1">
        <i class="bi bi-gear-fill"></i>
      </span>
    </button>
  </div>

  <app-table-instruments
    class="w-100"
    [instrumentList]="instrumentList"
    [storeID]="currentStoreID"
    (onUpdate)="getStoreDetails()"
  >
  </app-table-instruments>
</div>
<!-- ⚙ -->