<div class="modal-header">
  <h4 class="modal-title">Map</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>

<div class="modal-body">
  <div class="d-flex justify-content-center map-container">
    <google-map
      [width]="mapWidth"
      [height]="mapHeight"
      [zoom]="zoom"
      [center]="center"
      [options]="mapOptions"
    >
      <map-marker [options]="markerOptions"></map-marker>
    </google-map>
  </div>
</div>

<div class="modal-footer">
  <button
    type="submit"
    class="btn btn-primary"
    (click)="activeModal.close('Close click')"
  >
    Close
  </button>
</div>
