<ng-template #Loading>
  <div class="d-flex justify-content-center">
    <div class="spinner-border text-light" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</ng-template>

<ng-template #noInstruments>
  <div
    class="card position-absolute top-50 start-50 translate-middle rounded-3 w-75"
  >
    <p class="card-body text-center">
      You do not have any borrowed instruments.
    </p>
  </div>
</ng-template>

<div class="container mw-100" *ngIf="instrumentList; else Loading">
  <h1 class="text-center text-light">Instruments You Borrowed</h1>

  <table
    class="table table-light table-striped mw-100"
    *ngIf="instrumentList.length == 0; else noInstruments"
  >
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Type</th>
        <th scope="col">Model</th>
        <th scope="col">Serial No.</th>
        <th scope="col">Loaned From</th>
      </tr>
    </thead>
    <tbody>
      <!-- TODO: ngIf no instruments, show something else -->
      <tr *ngFor="let instr of instrumentList; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td class="text-wrap">{{ instr.instrument_type | titlecase }}</td>
        <td class="text-wrap">{{ instr.model | uppercase }}</td>
        <td class="text-wrap">{{ instr.serial_number | lowercase }}</td>
        <td class="text-wrap" (click)="showMap()">
          {{ instr.store_name | titlecase }}
        </td>
        <!-- <td>
          <button
            type="button"
            class="btn btn-warning"
            (click)="returnInstrument(instr.instrument_id)"
          >
            Return
          </button>
        </td> -->
      </tr>
    </tbody>
  </table>
</div>
