<div class="container-fluid mb-1 w-100">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <tr>
      <td>
        <a class="navbar-brand" href="#" [routerLink]="['/']">
          <img class="w-25 h-25" src="assets/logo2.png" alt="Logo" />
          <span class="my-auto fw-bold">ISM</span>
        </a>
      </td>
      <td>
        <button
          class="navbar-toggler"
          type="button"
          (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed"
          aria-controls="navbarSupportedContent"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </td>
    </tr>

    <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav w-100 text-end">
        <li class="nav-item mx-3">
          <a
            class="nav-link"
            [routerLink]="['/about']"
            routerLinkActive="activeNav"
          >
            <h4 class="my-auto text-light">About</h4>
          </a>
        </li>
        <li class="nav-item mx-3">
          <a
            class="nav-link"
            [routerLink]="['/borrowed']"
            routerLinkActive="activeNav"
          >
            <h4 class="my-auto text-light">Borrowed Instruments</h4>
          </a>
        </li>
        <li class="nav-item mx-3">
          <a
            class="nav-link"
            [routerLink]="['/stores']"
            routerLinkActive="activeNav"
          >
            <h4 class="my-auto text-light">Managed Stores</h4>
          </a>
        </li>
        <li *ngIf="isLoggedIn; else Login" class="ms-auto">
          <div ngbDropdown>
            <button
              type="button"
              class="btn text-light col-auto ms-auto text-end me-3"
              id="dropdownBasic1"
              ngbDropdownToggle
            >
              <img
                *ngIf="profilePic != undefined; else defaultPFP"
                class="rounded-circle border border-light me-2"
                src="{{ profilePic }}"
                height="50px"
              />
              <!-- <span class="mx-3 my-auto fw-bold">{{ givenname | titlecase }}</span> -->
            </button>
            <div
              ngbDropdownMenu
              aria-labelledby="dropdownBasic1"
              class="dropdown-menu-end text-end"
            >
              <button ngbDropdownItem [routerLink]="['/profile']">
                <h4 class="my-auto text-end">Profile</h4>
              </button>
              <button
                ngbDropdownItem
                class="bg-danger text-light me-3"
                (click)="logout()"
              >
                <h4 class="my-auto text-end"><i class="bi bi-box-arrow-left"></i> Logout</h4>
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>

<ng-template #defaultPFP>
  <!-- <img
    class="rounded-circle border border-light me-2"
    src="assets/Default_pfp.png"
    height="35px"
  /> -->
  <h1 class="d-inline-block my-auto"><i class="bi bi-person-circle"></i></h1>
</ng-template>

<ng-template #Login>
  <li class="ms-auto">
    <button
      class="btn btn-outline-light rounded-pill col-auto ms-auto text-end me-3"
      type="button"
      [routerLink]="['/login']"
    >
      <h4 class="my-auto">Login</h4>
    </button>

    <button
      class="btn btn-light rounded-pill col-auto ms-auto text-end me-3"
      type="button"
      [routerLink]="['/register']"
    >
      <h4 class="my-auto">Sign Up</h4>
    </button>
  </li>
</ng-template>
